<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716685044796-icm3caqr0bp2jlsn56lgu25dovhtd2el.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716685044796-icm3caqr0bp2jlsn56lgu25dovhtd2el</string>
	<key>API_KEY</key>
	<string>AIzaSyClC3hyvrhbDp7mXEqaIHP9JqU8YghqrIc</string>
	<key>GCM_SENDER_ID</key>
	<string>716685044796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>note-9448c</string>
	<key>STORAGE_BUCKET</key>
	<string>note-9448c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716685044796:ios:1a92f627186edddb426739</string>
</dict>
</plist>